section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
  margin-bottom: 3rem;
}

section#pagination {
  position: sticky;
  padding: 2rem 0;
  bottom: 0;
  background-color: #ffffff;
}

.loading-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-add {
  width: fit-content;
}

@media (max-width: 700px) {
  section#content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
